cmake-build-debug/
.idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/NBM_Tracer_Client
build/NBM_Tracer_Server
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-2d9e70e66b4ecaee86f0.json
build/.cmake/api/v1/reply/cmakeFiles-v1-c2d01ada15b63f5b73cc.json
build/.cmake/api/v1/reply/codemodel-v2-d074750d739075fa3ff1.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2025-05-14T01-39-17-0656.json
build/.cmake/api/v1/reply/target-NBM_Tracer_Client-Debug-173983eaee06fa7ed892.json
build/.cmake/api/v1/reply/target-NBM_Tracer_Server-Debug-92845446799a22199a2a.json
build/.cmake/api/v1/reply/target-NetworkTracerLib-Debug-0d9a400047be3f0fd118.json
build/.cmake/api/v1/reply/target-RayTracerLib-Debug-f35f0125ae8bfb48c749.json
build/.cmake/api/v1/reply/toolchains-v1-8c1a1143be9f7a51a2eb.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.25.1/CMakeCCompiler.cmake
build/CMakeFiles/3.25.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.1/CMakeSystem.cmake
build/CMakeFiles/3.25.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.25.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/NBM_Tracer_Client.dir/build.make
build/CMakeFiles/NBM_Tracer_Client.dir/cmake_clean.cmake
build/CMakeFiles/NBM_Tracer_Client.dir/compiler_depend.make
build/CMakeFiles/NBM_Tracer_Client.dir/compiler_depend.ts
build/CMakeFiles/NBM_Tracer_Client.dir/depend.make
build/CMakeFiles/NBM_Tracer_Client.dir/DependInfo.cmake
build/CMakeFiles/NBM_Tracer_Client.dir/flags.make
build/CMakeFiles/NBM_Tracer_Client.dir/link.txt
build/CMakeFiles/NBM_Tracer_Client.dir/progress.make
build/CMakeFiles/NBM_Tracer_Server.dir/build.make
build/CMakeFiles/NBM_Tracer_Server.dir/cmake_clean.cmake
build/CMakeFiles/NBM_Tracer_Server.dir/compiler_depend.make
build/CMakeFiles/NBM_Tracer_Server.dir/compiler_depend.ts
build/CMakeFiles/NBM_Tracer_Server.dir/depend.make
build/CMakeFiles/NBM_Tracer_Server.dir/DependInfo.cmake
build/CMakeFiles/NBM_Tracer_Server.dir/flags.make
build/CMakeFiles/NBM_Tracer_Server.dir/link.txt
build/CMakeFiles/NBM_Tracer_Server.dir/progress.make
build/CMakeFiles/NetworkTracerLib.dir/build.make
build/CMakeFiles/NetworkTracerLib.dir/cmake_clean_target.cmake
build/CMakeFiles/NetworkTracerLib.dir/cmake_clean.cmake
build/CMakeFiles/NetworkTracerLib.dir/compiler_depend.internal
build/CMakeFiles/NetworkTracerLib.dir/compiler_depend.make
build/CMakeFiles/NetworkTracerLib.dir/compiler_depend.ts
build/CMakeFiles/NetworkTracerLib.dir/depend.make
build/CMakeFiles/NetworkTracerLib.dir/DependInfo.cmake
build/CMakeFiles/NetworkTracerLib.dir/flags.make
build/CMakeFiles/NetworkTracerLib.dir/link.txt
build/CMakeFiles/NetworkTracerLib.dir/progress.make
build/CMakeFiles/RayTracerLib.dir/build.make
build/CMakeFiles/RayTracerLib.dir/cmake_clean_target.cmake
build/CMakeFiles/RayTracerLib.dir/cmake_clean.cmake
build/CMakeFiles/RayTracerLib.dir/compiler_depend.internal
build/CMakeFiles/RayTracerLib.dir/compiler_depend.make
build/CMakeFiles/RayTracerLib.dir/compiler_depend.ts
build/CMakeFiles/RayTracerLib.dir/depend.make
build/CMakeFiles/RayTracerLib.dir/DependInfo.cmake
build/CMakeFiles/RayTracerLib.dir/flags.make
build/CMakeFiles/RayTracerLib.dir/link.txt
build/CMakeFiles/RayTracerLib.dir/progress.make
.vscode/settings.json
